* {
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #042b42;
}

#logo {
  position: fixed;
  top: 2rem;
  left: 2rem;
  height: 4rem;
}

#sun {
  position: fixed;
  bottom: -20rem;
  left: calc(50% - 15rem);
  z-index: 12;
  display: inline-block;
  width: 30rem;
  height: 30rem;
  background: #fff200;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff200, 0 0 30px #fff200, 0 0 6rem #fff200;
}

#data-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

#data-box #title {
  margin: 0 0 6rem;
  color: #ffffff;
  font-weight: 400;
  font-size: 3.5rem;
}

#data-box #version-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#data-box #version-box .version-item {
  display: inline-block;
  margin: 0 0.5rem;
  color: #ffffff;
  font-size: 1.3rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#data-box #version-box .version-item:hover {
  color: #fff200;
}

@media (max-width: 480px) {
  body {
    padding: 0 1.5rem;
  }

  #logo {
    height: 2rem;
  }
  #sun {
    bottom: -9rem;
    left: calc(50% - 7rem);
    width: 14rem;
    height: 14rem;
  }

  #data-box {
    margin-bottom: 2rem;
  }

  #data-box #title {
    margin: 0 0 4rem;
    font-size: 2rem;
  }
  #data-box #version-box .version-item {
    font-size: 1rem;
  }
}
